/* Resetando margens e preenchimentos padrão */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    height: 100vh;
}

/* Estilo para o lado esquerdo */
.left-side {
    flex: 1;
}

.left-side img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Estilo para o lado direito */
.right-side {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.login-form {
    max-width: 400px;
    width: 100%;
    text-align: center;
}

.logo {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.input-group {
    position: relative;
    margin-bottom: 20px;
}

.input-group input {
    width: 100%;
    padding: 10px 40px 10px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.input-group i {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    color: #ccc;
}

a {
    display: block;
    margin-bottom: 20px;
    color: #007BFF;
    text-decoration: none;
}

button {
    background-color: #007BFF;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    width: 100%;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}

.separator {
    display: flex;
    align-items: center;
    text-align: center;
    margin: 20px 0;
}

.separator hr {
    flex: 1;
    border: none;
    border-top: 1px solid #ccc;
}

.separator span {
    margin: 0 10px;
    color: #ccc;
}

.associate-button {
    background-color: #004085;
}

.associate-button:hover {
    background-color: #002752;
}
